{% extends "main_page/homepage.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">${{ product.price }}</p>
<form action="{% url "cart:cart_add" product.id %}" method="post">
    {{ cart_product_form }}

    <h2>Reviews</h2>
    {% for review in reviews %}
        <div class="review">
            <p>{{ review.user.username }} , {{ review.date_added }}</p>
            <p>{{ review.text }}</p>
        </div>
    {% empty %}
        <p>No reviews yet.</p>
    {% endfor %}

<h2>Add a review</h2>
    <form method="post" action="{% url 'add_review' product.pk %}">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit">Add review</button>
    </form>

<h2>Rate this product</h2>
    <form method="post" action="{% url 'add_rating' product.pk %}">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button type="submit">Rate item</button>
    </form>

    {% csrf_token %}
    <input type="submit" value="{% trans "Add to cart" %}">
</form>
        {{ product.description|linebreaks }}
    </div>

{% endblock %}